    * {
    box-sizing: border-box;
  }
  
  .workshops {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
  }
  
  .workshop {
    position: relative;
    display: block;
    height: 100%;  
    border-radius: 20px;
    overflow: hidden;
    text-decoration: none;
  }
  
  .workshop__image {      
    width: 100%;
    height: auto;
  }
  
  .workshop__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: 20px;    
    background-color: white;      
    transform: translateY(100%);
    transition: .2s ease-in-out;
  }
  
  .workshop:hover .workshop__overlay {
    transform: translateY(0);
  }
  
  .workshop__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: 20px 0 0 0;    
    background-color: white;
    transform: translateY(-100%);
    transition: .2s ease-in-out;
  }
  
  .workshop__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
  }
  
  .workshop__arc path {
    fill: white; 
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
  }       
  
  .workshop:hover .workshop__header {
    transform: translateY(0);
  }
  
  .workshop__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;      
    border-radius: 50%;      
  }
  
  .workshop__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #152836;
    font-family: "Montserrat", sans-serif;
    line-height: normal;
  }  
  .workshop__status {
    font-size: .8em;
    color: #218bab;
    display: block;
    font-family: "Montserrat", sans-serif;
  }
  
  .workshop__description {
    padding: 0 2em 1em;
    margin: 0;
    color: black;
    font-size: .9em;
    /* font-family: "Montserrat", sans-serif; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /* -webkit-line-clamp: 3; */
    overflow: hidden;
  }    

  .modal-body h5 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
}
.modal-body p {
    text-align: justify;
}